#root {
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  font-family: 'Roboto';
}

.calorie-dash {
  position: absolute;
  right: 15px;
  top: 250px;
}

.activity-chart {
  background-color: #FBFBFB;
  position: absolute;

}