#root {
  max-width: 1024px;
  max-height: 780px;
  overflow: hidden;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  font-family: 'Roboto';
}

.calorie-dash {
  position: relative;
  display: flex;
  flex-direction: column;
  right: -760px;
  top: -210px;
  width: 200px;
  justify-content: right;
  align-items: flex-end;
}

.activity-chart {
  background-color: #FBFBFB;
  position: absolute;
}

.dash-sessionsaverage {
  position: relative;
  cursor: default;
  width: 258px;
  height: 222px;
  top: 211px;
  left: 70px;
  background-color: #FF0000;
  border-radius: 5px;
}