.performance-chart {
    width: 200px;
    height: 191px;
    position: relative;
    top: -678px;
    border-radius: 5px;
    background-color: #282D30;
    left: 208px;
    padding-top: 11px;
    padding-left: 10px;
}