.sessionaverage-wrap {
    background-color: #F00;
    display: flex;
    align-items: flex-start;
    width: 200px;
    position: relative;
    top: -477px;
    border-radius: 5px;
    overflow: hidden;
}

.session-title {
    color: white;
    opacity: 0.5;
    width: 100px;
    font-size: 10px;
    position: absolute;
    left: 40px;
    top: 10px;
    text-align: left;
}