.score-chart {
    display: flex;
    position: relative;
    left: 429px;
    top: -880px;
    width: 200px;
    height: 204px;
    background-color: #fbfbfb;
}

.score-title {
    background-color: white;
    position: absolute;
    margin: 0 auto;
    border-radius: 100%;
    width: 111px;
    height: 111px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    top: 47px;
    left: 41px;
    display: flex;
    flex-direction: column;
}

.chart-name {
    height: 10px;
    left: 10px;
    top: 10px;
    position: absolute;
    font-weight: bolder;
    font-size: 10px;
}

.score-value {
    font-weight: bolder;
    font-size: 20px;
}