@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat:wght@500;600&family=Roboto:wght@700&display=swap');

.user-banner {
    display: flex;
    justify-content: flex-start;
    align-items: first baseline;
    position: relative;
    /* top: 60px;
    left: 118px; */
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.user-banner p {
    display: flex;
    align-items: center;
}

.user-name {
    color: #000;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    align-items: center;
    height: 100px;
}

.user-firstname {
    color: #FF0101;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    align-items: center;
    height: 100px;
    padding-left: 15px;

}